<body>

    <div id="wrapper-confirmation">
        <div class="row">
          <ul class="breadcrumb">
              <li class="completed"><a>Elige un proyecto</a></li>
            <li class="completed"><a>Selecciona tu recompensa</a></li>
            <li class="completed"><a>Procesamiento de Pago</a></li>
          </ul>
        </div>
        <table class="main-table-confirmation">

            <tbody>
                <tr>
                    <td class="spacer-lg" style="-premailer-height:75; -premailer-width:100%; line-height:30px; margin:0 auto; padding:0" height="75" width="100%">&nbsp;</td>
                </tr>

                <tr>
                    <td class="headline" style="color:#444444; font-family:&quot;Roboto&quot;, Helvetica, Arial, san-serif; font-size:30px; font-weight:100; line-height:36px; margin:0 auto; padding:0; text-align:center" align="center">Gracias por su compra!</td>
                </tr>
                <tr>
                    <td class="spacer-sm" style="-premailer-height:20; -premailer-width:100%; line-height:10px; margin:0 auto; padding:0" height="20" width="100%">&nbsp;</td>
                </tr>
                <tr>
                    <td class="copy" style="color:#666666; font-family:&quot;Roboto&quot;, Helvetica, Arial, san-serif; font-size:18px; line-height:30px; text-align:center" align="center">We'll keep you posted on the latest device tips, product updates, news and special offers.</td>
                </tr>

                <tr>
                    <td class="spacer-lg" style="-premailer-height:75; -premailer-width:100%; line-height:30px; margin:0 auto; padding:0" height="75" width="100%">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <table class="footer-table" style="-premailer-width:480; background-color:#ececec; margin:0 auto; text-align:center" width="480" bgcolor="#ececec" align="center">
                            <tbody>
                                <tr>
                                    <td class="spacer-sm" style="-premailer-height:20; -premailer-width:100%; line-height:10px; margin:0 auto; padding:0" height="20" width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="social-text" style="color:#999999; font-family:&quot;Roboto&quot;, Helvetica, Arial, san-serif; font-size:16px; line-height:26px">Mantente Conectado Con Nosotros</td>
                                </tr>
                                <tr>
                                    <td class="spacer-sm" style="-premailer-height:20; -premailer-width:100%; line-height:10px; margin:0 auto; padding:0" height="20" width="100%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                      <button [routerLink]="['/dashboard']" class="btn btn-success form-control"> Inicio </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
