  <div class="container">
  <h4> Configuracion de Notificaciones </h4>
    <div class="notifications">
      <div class="table-container">
        <table class="table-notifications">
          <tr>
            <td>Proyectos Backeados</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Favoritos</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Invitaciones</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Tinder</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>Backeame Updates</td>
            <td>
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <button _ngcontent-c7="" class="btn btn-primary" disabled=""> Guardar cambios </button>
</div>
