<div class="container">
  <h1>Ajustes</h1>
  <ngb-tabset >

    <ngb-tab title="Cuenta">
      <ng-template ngbTabContent>
        <app-edit-account></app-edit-account>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Editar Perfil">
      <ng-template ngbTabContent>
        <app-edit-profile></app-edit-profile>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Notificaciones">
      <ng-template ngbTabContent>
        <app-edit-notifications></app-edit-notifications>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
</div>