<nav class="navbar navbar-toggleable-md navbar-light bg-faded categories-navbar">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="form-group">
      <label>Tipo de Proyecto</label>
      <select [(ngModel)]="filters.typeFilter" (change)="changeLocation()" class="form-control">
        <option value="">- Seleccionar -</option>
        <option value="comercial">Comercial</option>
        <option value="sociales">ONG/Sociales</option>
      </select>
    </div>

    <div class="form-group">
      <label>Categoría</label>
      <select [(ngModel)]="filters.categoryFilter" (change)="changeLocation()" class="form-control">
        <option value="">- Seleccionar -</option>
        <option *ngFor="let comm of allCategories" value="{{comm.id}}">{{comm.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Colección</label>
      <select [(ngModel)]="filters.collectionFilter" (change)="changeLocation()" class="form-control">
        <option value="">- Seleccionar -</option>
        <option *ngFor="let comm of allCollections" value="{{comm.path}}">{{comm.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <button type="button" class="form-control btn btn-outline-primary" (click)="isMoreFiltersCollapsed = !isMoreFiltersCollapsed"
              [attr.aria-expanded]="!isMoreFiltersCollapsed" aria-controls="moreFiltersContainer">
        Más Filtros
      </button>
    </div>
  </div>
</nav>

<div id="moreFiltersContainer" [ngbCollapse]="isMoreFiltersCollapsed">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded categories-navbar">
    <div class="collapse navbar-collapse" id="navbarNavAltMoreFilters">
      <div class="navbar-nav">

        <div class="form-group">
          <label>Estado</label>
          <select [(ngModel)]="filters.stateFilter" (change)="changeLocation()" class="form-control">
            <option value="">- Seleccionar -</option>
            <option value="">Live</option>
            <option value="">En Demanda</option>
            <option value="">Finalizado</option>
          </select>
        </div>

        <div class="form-group">
          <label>Localidades</label>
          <select [(ngModel)]="filters.locationFilter" (change)="changeLocation()" class="form-control">
            <option value="">- Seleccionar - </option>
            <option value="Uru">** Uruguay **</option>
          </select>
        </div>

      </div>
    </div>
  </nav>
</div>

<div class="row">
  <app-mini-project *ngFor="let project of projectList" [project]="project"></app-mini-project>
</div>