footer{
  background-color: #1e1e1e !important;
  padding-top: 20px;
  color: white;
  position: relative;
  bottom: -450px;
}
footer h2 {
  color: #636c72;
}

footer a {
  color: white;
  font-weight: bold;
}