<footer id="footer" style="text-align: center;" class="clearfix ">
    <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2 class="title">About Us</h2>
            <ul class="nav navbar-nav">
              <li><a href="#">{{'Quienes somos' | translate }}?</a></li>
              <li><a href="#">Privacidad</a></li>
              <li><a href="#">Terminos y Condiciones </a></li>
              <li><a href="#">Informacion</a></li>
            </ul>
          </div>
          <div class="col-md-3">
              <h2>Help</h2>
          </div>
          <div class="col-md-3">
              <h2>Descubre</h2>
          </div>
          <div class="col-md-3 text-center">
              <h2>Comunidad </h2>
              <p>Quieres saber mas? Puedes buscarnos aqui en nuestras redes sociales.</p>
              <p class="text-center">
                <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="http://www.instagram.com"><i class="fa fa-instagram"></i></a>
              </p>
              <ul class="nav navbar-nav">
                <li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100</li>
                <li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
                <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a></li>
              </ul>
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright © 2017 by <a target="_blank" href="">Backeame Solutions</a>. All Rights Reserved</p>
        </div>
      </div>
    </div>
</footer>
<!-- footer end -->
